/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Zen Dots', cursive; */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden ;
}

/* Navbar */
nav{
    display: flex;
    background-color: #333;
    justify-content: space-around;
    color: #eee;
    height: 65px;
    align-items: center;
}

nav .logo{
    font-family: 'Zen Dots', cursive;
    /* font-size: 20px; */
    letter-spacing: 1px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: #eee;
    text-decoration: none;
    font-size: 0.9em;
}

nav ul li a:hover{
    color:#000;
}

/* Menu toggle */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
    /* display: none; */
}

.menu-toggle input{
    position: absolute;
    width: 35px;
    height: 22px;
    left: -7px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 22px;
    height: 3px;
    background-color: #eee;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


/* Responsive */

/* Tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
        margin-top: 22px;
    }
}

/* Mobile */
@media screen and (max-width: 576px){
    nav ul{
        /* display: none; */
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        background-color: #333;
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        transform: translateX(0);
        opacity: 1;
    }

    .menu-toggle{
        display: flex;
    }
}

